//adattare metas
%link{:rel=>"canonical", :href=>"http://rewend.eu"}
%link{:href=>"https://plus.google.com/", :rel=>"publisher"}
%meta{:name => "description", :content => "#{t("sell-share_messages")}"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
%meta{:name => "apple-mobile-web-app-capable", :content =>"yes"}
%meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
%meta{:name => "keywords", :content => "istanbul, book, " }

%meta{:property=>"og:title", :content=>"Rewend - istanbul book"}
%meta{:property=>"og:type", :content=>"website"}
%meta{:property=>"og:description", :content => "#{t("sell-share_messages")}"}
%meta{:property=>"og:url", :content=>"http://rewend.eu"}
%meta{:property=>"og:image", :content=>"http://rewend.eu/images/gallery-1.jpg"}
%meta{:property=>"og:site_name", :content=>"Rewend books"}

%meta{:property=>"fb:app_id", :content=>"608894842509917"}
%meta{:property=>"fb:admins", :content=>"609869050"}
%meta{:property=>"fb:page_id", :content=>"181735172020745"}

%meta{:property=>"twitter:card", :content=>"summary_large_image"}
%meta{:property=>"twitter:url", :content=>"rewend.eu"}
%meta{:property=>"twitter:title", :content=>""}
%meta{:property=>"twitter:creator", :content=>""}
%meta{:property=>"twitter:description", :content=>"#{t("sell-share_messages")}"}
%meta{:property=>"twitter:image:src", :content=>"http://rewend.eu/images/gallery-1.jpg"}
%meta{:property=>"twitter:domain", :content=>"rewend.eu"}
%meta{:property=>"twitter:site", :content=>"@rewendbooks"}