.author-triangle
  .container-left
    %figure
      = image_tag 'rewend_author-photo-orsola.png', id:'author-ph_triangle', alt:''
  .container-right
    %h2.name
      ORSOLA CASAGRANDE
      <br>
    %h3.career
      GIORNALISTA
      <br>
    %p.data
      Nata a Venezia, giornalista militante, è stata per vent’anni redattrice del manifesto. Ha scritto tre libri e firmato come autrice vari documentari insieme a Bibi Bozzato. Ha vissuto e continua a vivere (in) molte città: Belfast,Londra, Istanbul, Bilbao,
      a Havana, Diyarbakir, Torino. In questo momento si trova a Barcellona.