.author-triangle
  %figure
    = image_tag 'rewend_author-photo-orsola.png', id:'author-ph_triangle', alt:''
  .profile
    %p
      <span class="name">ORSOLA CASAGRANDE</span>
      <span class="career">GIORNALISTA</span>
      Nata a Venezia, giornalista militante, è stata per vent’anni redattrice del manifesto. Ha scritto tre libri e firmato come autrice vari documentari insieme a Bibi Bozzato. Ha vissuto e continua a vivere (in) molte città: Belfast,Londra, Istanbul, Bilbao,
      La Havana, Diyarbakir, Torino. In questo momento si trova a Barcellona.