.author-square
  .container-left
    %figure
      //todo mettere immagine originale
      = image_tag 'rewend_mobile-author-photo-mauro.png', id:'author-ph_square', alt:''

    %h3.career
      SCRITTORE,<br>
      DOCUMENTARISTA, <br>
      REGISTA

  .container-right
    %h2.name
      METIN YEĞIN
    %p.data
      “Troverete <span class="key-words">Vefa</span>, il più noto venditore di <span class="key-words">Boza</span>  proprio imboccando la prima strada sul il lato destro dopo aver lasciato la <span class="key-words">moschea </span> <span class="key-words">Süleymaniye </span> dopo tre o quattro strade.”
