%section.authors
  .messages
    %p.hyphenate
      “Proprio questa è la nostra ambizione: <span class="key-words">farvi uscire</span> dai circuiti - pur belli - obbligati. Pungolarvi a scoprire la città lasciandovi guidare dall’intuito, dagli odori, dai suoni.”
  = partial'partials/author-triangle'
  = partial'partials/author-pentagon'