.author-triangle
  %figure
    = image_tag 'rewend_author-photo-mauro.png', id:'author-ph_pentagon', alt:''
  .profile
    %p
      <span class="name">MAURO GUGLIELMINOTTI</span>
      <span class="career">FOTOGIORNALISTA</span>
      Fotogiornalista italiano nato a Torino, vive e lavora a Parigi, in Francia Ha pubblicato su numerosi quotidiani e riviste italiane e straniere, ha esposto in gallerie d’arte in Italia e in Francia
      e ha pubblicato alcuni libri. Si occupa prevalentemente di fotografia sociale e di viaggio.