.author-pentagon
  .container-left
    %h2.name
      MAURO GUGLIELMINOTTI
    %h3.career
      FOTOGIORNALISTA
    %p.data.hyphenate
      Fotogiornalista italiano nato a Torino, vive e lavora a Parigi, in Francia Ha pubblicato su numerosi quotidiani e riviste italiane e straniere, ha esposto in gallerie d’arte in Italia e in Francia
      e ha pubblicato alcuni libri. Si occupa prevalentemente di fotografia sociale e di viaggio.

  .container-right
    %figure
      = image_tag 'rewend_mobile-author-photo-mauro.png', id:'mobile-author-ph_pentagon', alt:'RewendMauroPhoto'
      = image_tag 'rewend_desktop-author-photo-mauro.png', id:'desktop-author-ph_pentagon', width:'205px', height:'212px', alt:'RewendMauroPhoto'
      //possibile dimensioni per immagine rewend_desktop-author-photo-mauro: w205 h200