#footer
  .contact
    %p
      Se siete interessati all’acquisto delle foto potete contattare: <strong><a href="mailto:mauro.guglielminotti@gmail.com">mauro.guglielminotti@gmail.com</a></strong>
  .copyright
    %p
      ©2013 istanbul.com - P.iva 63773644748 -Privacy Policy <br>
      <span class="thedoers">Proudly Designed by The Doers</span>
