%footer
  .contact
    %p
      Se siete interessati all’acquisto delle foto potete contattare: <strong><a href="mailto:mauro.guglielminotti@gmail.com">mauro.guglielminotti@gmail.com</a></strong>
  .copyright
    %p
      ©2013 Rewend.eu - P.iva 63773644748 - <a href="http://www.iubenda.com/privacy-policy/551073" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script><br>
      %a{href:"http://thedoers.co", class: "thedoers", target: "_blank"} Proudly Designed by The Doers
