//todo cambiare footer
#footer
  .padder
    .background
    .follow
      %p
        <span class="pink">F</span>OLLOW US
      .addthis_toolbox
        %a.addthis_button_facebook_follow{:"addthis:userid"=>"TheDoersProject"}
          %i.fa.fa-facebook
        %a.addthis_button_twitter_follow{ :"addthis:userid"=>"doersproject"}
          %i.fa.fa-twitter
        %a.addthis_button_google_follow{:"addthis:userid"=>"+Thedoersproject"}
          %i.fa.fa-google-plus
        %a.addthis_button_linkedin_follow{:"addthis:userid"=>"the-doers", :"addthis:usertype"=>"company"}
          %i.fa.fa-linkedin
    %p.info
      <span class="pink">T</span>HE <span>D</span>OERS S.R.L.<br />
      <span class="pink">P</span>IVA 10766230014<br />
      <span class="pink">T</span>ORINO, <span>V</span>IA <span class="pink">M</span>ANTOVA 36<br />
    %p.contacts
      <a href="mailto:we@thedoersproject.com"><i class="fa fa-envelope-o fa-lg"></i> <span>we@thedoersproject.com</span></a>
    %p.contacts
      <a href="tel:+393393723401"><i class="fa fa-mobile fa-lg"></i>  <span>+39 3393723401</span></a>
    %p.contacts
      <a href="skype:osagep78?call"><i class="fa fa-skype fa-lg"></i> <span>callme@thedoers.co</span></a>
  %a.map{target: "_blank",href: 'https://maps.google.it/maps?q=google+maps+via+mantova+36+torino&ie=UTF-8&ei=t5OTUraCEa2Q7Abk7ICoAQ&ved=0CAgQ_AUoAg'}
    .overlay
    %figure
      = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=Via+Mantova+36,Torino,To&zoom=16&size=600x300&maptype=roadmap&markers=icon:http://goo.gl/d0GT44%7Clabel:S%7C45.075065,7.69844&sensor=false', id:'map_office', alt:'Office Location, Via Mantova 36 Torino'