-# coding: utf-8
%header
  .image-container
    = image_tag 'rewend_bg-mobile-header.png', id:'rewend_bg-header', alt:'Rewend'

  .bg-header-bar

  .header_bar
    -#%ul.lenguages
    -#  %li
    -#    <a href="">ITA</a>&nbsp;|
    -#  %li
    -#    <a href="">ENG</a>

    .lenguages
      %p
        <a href="">ITA</a> | <a href="">ENG</a>
    =partial "partials/share_tag", :locals => {:url => "",:twitter_url=>"", :twitter_title => "", :title => ""}

