-# coding: utf-8
%header
  .image-container
    = image_tag 'rewend_bg-mobile-header.jpg', id:'rewend_mobile-bg-header', alt:'Rewend-Header Images'

  .title
    %h1
      Istanbul

  .bg-header-bar

  .header_bar
    -#%ul.lenguages
    -#  %li
    -#    <a href="">ITA</a>&nbsp;|
    -#  %li
    -#    <a href="">ENG</a>

    .lenguages
      %p
        <a href="/it/index.html">ITA</a> | <a href="/">ENG</a>
    .share_menu
      .heart-share
        -#<a href= "javascript://nop" id= "share-link"  onclick= "sharemenu(this)"><img src="/images/rewend_menu-heart-share.png" id="rewend_menu-heart-share" alt="Rewend HeartShare" width="93"><p class= "text">SHARE</p></a>
        %a#share-link{href: "javascript://nop", onclick: "sharemenu(this)"}
          %img#rewend_menu-heart-share{alt: "Rewend HeartShare", src: "/images/rewend_menu-heart-share.png", width: "93"}
          %p.text SHARE
      = partial "partials/share_tag", :locals => {:url => "http://rewend.eu",:twitter_url=>"http://rewend.eu/?utm_source=Social&utm_medium=Twitter&utm_content=tweet&utm_campaign=Socials", :twitter_title => "Rewend", :title => t("author_messages")}

