-# coding: utf-8
%header
  .image-container
    = image_tag 'rewend_bg-mobile-header.png', id:'rewend_bg-header', alt:'Rewend'


  .title
    %h1
      Istanbul

  .bg-header-bar

  .header_bar
    -#%ul.lenguages
    -#  %li
    -#    <a href="">ITA</a>&nbsp;|
    -#  %li
    -#    <a href="">ENG</a>

    .lenguages
      %p
        <a href="">ITA</a> | <a href="">ENG</a>
    .share_menu
      .heart-share
        = image_tag 'rewend_menu-heart-share.png', id:'rewend_menu-heart-share', alt:'Rewend HeartShare'
        %a{ href:"javascript://nop", id:"share-link", onclick:"sharemenu(this);"} SHARE
      =partial "partials/share_tag", :locals => {:url => "",:twitter_url=>"", :twitter_title => "", :title => ""}

