%section.location
  //todo megliorare la map, soprattuto mettere overlay(javascript) + map personalizzata, plugin: http://snazzymaps.com/style/19/subtle , mettiamo pin con posti che apparano sul libro
  %a.map{target: "_blank",href: 'https://maps.google.it/maps?q=google+maps+istambul+turchia&ie=UTF-8&ei=t5OTUraCEa2Q7Abk7ICoAQ&ved=0CAgQ_AUoAg'}
    .overlay
    %figure
      = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=Istanbul,Turchia&zoom=10&size=600x300&maptype=roadmap&&format=png&markers=icon:http://goo.gl/QNac7B%7Clabel:S%7C41.02,28.98&sensor=false&style=feature:poi%7Cvisibility:off&style=%7Csaturation:-70%7Clightness:37%7Cgamma:1.15', id:'map_office', alt:'Istambul - Turchia'


