%section.location
  //todo  mettere nuovo pin online
  %figure
    //possibile coordinate su mobile: center=42.58,30.98&zoom=7 , center=41.082,29.058&amp;zoom=11, center=41.062,29.028&amp;zoom=12
    = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=41.062,29.028&amp;zoom=12&size=1200x1200&maptype=roadmap&&format=png&markers=icon:http://goo.gl/2UEaER%7Clabel:S%7C41.01,28.98&sensor=false&style=feature:poi%7Cvisibility:off&style=%7Csaturation:-70%7Clightness:37%7Cgamma:1.15&style=feature:road%7Celement:geometry%7Cvisibility:off', id:'mobile_map_office', alt:'Istambul - Turchia Map'
    //possibile coordinate su mobile: center=40.91,28.98&zoom=9
    = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=Istanbul,Turchia&zoom=12&size=1200x1200&maptype=roadmap&&format=png&markers=icon:http://goo.gl/2UEaER%7Clabel:S%7C41.01,28.98&sensor=false&style=feature:poi%7Cvisibility:off&style=%7Csaturation:-70%7Clightness:37%7Cgamma:1.15&style=feature:road%7Celement:geometry%7Cvisibility:off', id:'desktop_map_office', alt:'Istambul - Turchia Map'


