%section.location
  //todo megliorare la map, soprattuto mettere overlay(javascript)
  %a.map{target: "_blank",href: 'https://maps.google.it/maps?q=google+maps+istambul+turchia&ie=UTF-8&ei=t5OTUraCEa2Q7Abk7ICoAQ&ved=0CAgQ_AUoAg'}
    .overlay
    %figure
      = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=Istambul,Turchia&zoom=1&size=600x300&maptype=roadmap&markers=icon:http://goo.gl/QNac7B%7Clabel:S%7C41.02,28.98&sensor=false', id:'map_office', alt:'Istambul - Turchia'
