%section.location
  //todo  mettere nuovo pin online
  %figure
    = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=Istanbul,Turchia&zoom=4&size=1200x1200&maptype=roadmap&&format=png&markers=icon:http://goo.gl/QNac7B%7Clabel:S%7C41.01,28.98&sensor=false&style=feature:poi%7Cvisibility:off&style=%7Csaturation:-70%7Clightness:37%7Cgamma:1.15&style=feature:road%7Celement:geometry%7Cvisibility:off', id:'mobile_map_office', alt:'Istambul - Turchia Map'
    = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=Istanbul,Turchia&zoom=12&size=600x600&maptype=roadmap&&format=png&markers=icon:http://goo.gl/QNac7B%7Clabel:S%7C41.01,28.98&sensor=false&style=feature:poi%7Cvisibility:off&style=%7Csaturation:-70%7Clightness:37%7Cgamma:1.15&style=feature:road%7Celement:geometry%7Cvisibility:off', id:'desktop_map_office', alt:'Istambul - Turchia Map'


