%section.placeholder
  %figure
    = image_tag '', id:'', alt:''
  .messages
    %p
      “Proprio questa è la nostra ambizione: farvi uscire dai circuiti - pur belli - obbligati. Pungolarvi a scoprire la città lasciandovi guidare dall’intuito, dagli odori, dai suoni.”
  .info
    =partial "partials/share_tag", :locals => {:url => "",:twitter_url=>"", :twitter_title => "", :title => ""}
    %span.name
      Piazza <br> Ortaköy
