.sell-basic
  .container_devices
    = image_tag 'rewend_buy-images.png', id:'devices', alt:''
    -#%p  //todo come immagine e link o come font e link
    -#  Amazon
  .container_devicesplus
    = image_tag 'rewend_buyplus-images.png', id:'devicesplus', alt:''
    -#%span.price_one
    -#  25&#8364;
    -#%span.price_two
    -#  10&#8364;
    .buttons
      %a{href:"", id: "buy25"}
        LO VOGLIO!
      %a{ href:"", id: "buy10"}
        LO VOGLIO!