.stores
  %h2.title
    Rivenditori<br>
    Autorizzati

  .container-left
    .point
      = image_tag 'rewend_store-pin.png', id:'', alt:'Rewend store pin'
      .address
        %h3.store_name
          Libreria Luxemburg
        %p
          Via san massimo 6 <br>
          TORINO

    .point
      = image_tag 'rewend_store-pin.png', id:'', alt:'Rewend store pin'
      .address
        %h3.store_name
          Libreria Luxemburg
        %p
          Via san massimo 6 <br>
          TORINO

  .container-right
    .point
      = image_tag 'rewend_store-pin.png', id:'', alt:'Rewend store pin'
      .address
        %h3.store_name
          Libreria Luxemburg
        %p
          Via san massimo 6 <br>
          TORINO
