.stores
  .title
    %p
      Rivenditori
      Autorizzati
  .point
    = image_tag 'rewend_store-pin.png', id:'', alt:'Rewend store pin'
    %span.store_name
      Libreria Luxemburg
    %span.store_address
      Via san massimo 6
    %span.store_city
      TORINO

  .point
    = image_tag 'rewend_store-pin.png', id:'', alt:'Rewend store pin'
    %span.store_name
      Libreria Luxemburg
    %span.store_address
      Via san massimo 6
    %span.store_city
      TORINO

  .point
    = image_tag 'rewend_store-pin.png', id:'', alt:'Rewend store pin'
    %span.store_name
      Libreria Luxemburg
    %span.store_address
      Via san massimo 6
    %span.store_city
      TORINO