@import compass/utilities/sprites
@import compass/typography
@import h5bp

@import compass/typography/vertical_rhythm
@import compass/support
@import compass/css3
@import "compass/layout/stretching"


+h5bp-normalize


$legacy-support-for-ie: true

//MODULE
$blue: #7480E1
$dark-blue: #494F77
$clear-orange: #FEAE9D
$orange: #FD5E36
$pink: #FEAE9D
$white: #FFFFFF



@import partials/custom_mixins
@import partials/fonts
@import partials/grid
@import partials/awesome/font-awesome



*:focus
  outline-style: none
  outline-width: 0px

.decimanova
  font-family: DecimaNova, "Helvetica Neue", Helvetica, Arial, sans-serif

.geogrotesque
  font-family: Geogrotesque, "Helvetica Neue", Helvetica, Arial, sans-serif



@import "partials/landing"



