footer
  +span-columns(10,10)
  margin: 14px 0 12px 0
  //+pre(1)

  .contact
    +span-columns(8,10)
    margin: 0 0 20px 0
    a
      +link-colors($dark-blue,$dark-blue,$dark-blue,$dark-blue,$dark-blue)
    p
      margin: 0
      //+pre(1)
      @extend .decimanova
      font-size: px-to-em(13px,16px)
      font-weight: 700
      font-style: italic
      color: $dark-blue
      line-height: 1em

  .copyright
    +span-columns(8,10)
    p
      margin: 0
      //+pre(1)
      @extend .decimanova
      font-size: px-to-em(9px,16px)
      font-weight: 400
      font-style: normal
      color: $blue
      line-height: 1em
      a.thedoers
        +link-colors($orange,$blue,$orange,$orange,$orange)



+at-breakpoint($screen2 $break2)
  footer
    +span-columns(12 ,12)


+at-breakpoint($screen3 $break3)
  footer
    +span-columns(9,16)
    margin: 20px 0 16px 0
    +pre(1)

    .contact
      +span-columns(8,9)
      margin: 0 0 20px 0
      a
        +link-colors($dark-blue,$dark-blue,$dark-blue,$dark-blue,$dark-blue)
      p
        margin: 0
        @extend .decimanova
        font-size: px-to-em(16px,16px)
        font-weight: 700
        font-style: italic
        color: $dark-blue
        line-height: 1em

    .copyright
      +span-columns(9,9)
      p
        margin: 0
        @extend .decimanova
        font-size: px-to-em(13px,16px)
        font-weight: 400
        font-style: normal
        color: $blue
        line-height: 1em
        a.thedoers
          +link-colors($orange,$blue,$orange,$orange,$orange)




