

#header
  .geogrotesque
    font-family: Geogrotesque, "Helvetica Neue", Helvetica, Arial, sans-serif
  +span-columns(10 ,10)
  position: relative

  .image-container
    margin-left: -($grid-padding)
    margin-right: -($grid-padding)
    max-height: 325px
    overflow: hidden
    img
      height: auto
      width: 100%
      z-index: -10
      display: block

  .bg-header-bar
    +span-columns(10,10)
    height: 40px
    position: absolute
    top: 0
    background: $orange
    opacity: 0.4


  .header_bar
    +span-columns(10,10)
    height: 40px
    position: absolute
    top: 0
    display: block

    .lenguages
      +span-columns(2,10)
      +pre(1)

      p
        margin: 10px 0 0 0
        @extend .geogrotesque
        font-size: px-to-em(10px,16px)
        font-weight: 600
        font-style: normal
        color: $white
        a
          text-decoration: none
          +link-colors($white,$white,$white,$white,$white)

    //todo manca font o immagine dello share
    .share
      +span-columns(5 omega,10)
      +post(1)
      margin-top: 5px
      .addthis_toolbox
        float: right
      a
        cursor: pointer
        border: none
        text-decoration: none
        width: 34px
        height: 34px
        display: inline-block
        text-align: center
        font-size: px-to-em(24px,16px)
        line-height: px-to-em(22px,16px)
        +link-colors($white, $white, $white, $white, $white)


//480px horizontal layout
+at-breakpoint($screen2 $break2)
  #header
    +span-columns(12 ,12)



//640px vertical layout
+at-breakpoint($screen3 $break3)
  #header
    +span-columns(10 ,20)


//960px horizontal layout
+at-breakpoint($screen4 $break4)
  #header
    +span-columns(12 ,24)


+at-breakpoint($screen5 $break5)
  #header
    +span-columns(12 ,36)
