.sell-basic
  //+span-columns(10,10)
  //position: relative
  //display: block
  margin-left: -($grid-padding)
  margin-right: -($grid-padding)
  //+stretch(0, -($grid-padding),0,-($grid-padding))
  border: 10px solid $pink
  +box-sizing(border-box)